.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .dishForm {
    width: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: inline-grid;
    margin: 20px;
    .dishLabel {
      margin: 20px 20px;
      color: white;
    }
  }
}
