.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .dishForm {
    width: 45vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 20px;
    display: inline-grid;
    .label {
      margin: 20px 30px;
      height: 6vh;
    }
  }
  .order {
    display: flex;
    justify-content: center;
    height: 85px;
    .orderButton {
      margin: 20px;
      height: 40px;
      border: none;
      width: 200px;
      border-radius: 5px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 220% auto;
      color: white;
      background-image: linear-gradient(to right, #7900ff 0%, #1201ff 51%, #ff0000 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Kanit', sans-serif;
    }

    .orderButton:hover {
      background-position: right center;
    }
  }
  .orderButton:active {
    transform: scale(1.05);
  }
}
