.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .dishForm {
    height: 60vh;
    width: 50vh;
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 15px;
  }
}
